// COLORS
:root {
  --color-primary: red;
  --color-primary-light: rgb(212, 7, 7);
  --color-primary-dark: rgb(107, 1, 1);

  --color-delivered: green;
  --color-cancelled: red;
  --color-pending: yellow;

  --color-font-body: #000;
  --color-font-header: #000;
  --color-font-p: #000;

  --color-white: #fff;
  --color-black: #000;

  --color-light-grey: #d3d3d3;

  --color-grey-dark: #777;
  --color-grey-dark-1: #3b3b3b;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #999;

  // FONTS Size
  --font-default-size: 1.5rem;
  // Nav Font Size
  --font-nav-size: 1.3rem;
  //   Font Weight
  --font-weight-1: 400;
  --font-weight-2: 600;
  --font-weight-3: 700;

  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-2: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --box-shadow-3: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
